//- button(type=button id='displayAboutGame')
h3
  | What is Shiritori?
div(id='aboutGameContent')
  p
    | Shiritori is a Japanese word game.
  br
  p
    | Each turn, a player says a word that begins with the final kana (character) of the previous word.
    | For example, if the bot says 検討 (けんとう), you must respond with a word that starts with う.
  br
  p
    | The game ends when a player gives up or says an illegal word.
    | Illegal words are ones that (1) are not nouns, (2) have already been used, or (3) end in ん, as there are no words that begin with ん.
    | The bot gives up when you completely exhaust its word bank. Congratulations if you manage this!
  br

//- button(type=button id='displayAboutDiff')
//-     | Difficulty?
//- div(id='aboutDiffContent' style='display:none')
//-     p
//-       | Shiritori is a game played by people of all levels of Japanese competency.
//-       br
//-       | To make the game more approachable, there are a few difficulties that change the restrictiveness of the rules.
//-     h4
//-       | Easy
//-     ul.about
//-       li You are allowed to use words of all kinds (nouns, adjectives, verbs).
//-       li You are allowed to repeat up to three words.
//-       li The bot is limited to words classified in the N5-N3 range.
//-     h4
//-       | Normal
//-     ul.about
//-       li Only nouns are allowed.
//-       li No word repetition.
//-       li The bot has access to words within the N5-N1 range.
//-     h4
//-       | Hard
//-     ul.about
//-       li Only nouns are allowed.
//-       li No word repetition.
//-       li The bot has unrestricted access to all words.
