extends layout

block content
  div(id='header')
    h1.header= title
    br
  div(id='body')
    h2 #{ucfirst(diff)}
    br
    div(id='game')
      h3 
        | Bot
      if nextWord
        p= nextWord
      else
        p Placeholder
      br
      h3 You
      form(method='POST' action='/game/' + diff)
        input(type='text' id='userInput' name='userInput')
  div(id='footer')
    ul.centerUL.footer
      li
        a(href='/') Home
      li
        a(href='https://github.com/jlou96/shiritori-bot') Source
