extends layout

block content
  div(id='header')
    h1= title
    br
  div(id='body')
    div(id='game')
      h3 
        | Bot
      if nextWord
        p.game= nextWord
      else
        p.game 
      br
      h3 You
      form(method='POST' action='/game')
        input(type='text' id='userInput' name='userInput')
  include footer.pug
