extends layout

block content
  div(id='header')
    h1= title
    br
  div(id='body')
    ul
      li
        button(type='button' id='displayAbout') About
      li
        a(href='/game') Play
    div(id='aboutContent' style='display:none')
        include about-game.pug
  include footer.pug
