@import url(//fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  color: #dedede;
  background-color: #212121;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

#header {
  position: fixed;
  width: 100%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}

#body {
  position: absolute;
  top: 15%;
  max-height: 70%;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  padding: 0;
  overflow: auto;
  text-align: center;
}

#footer {
  position: fixed;
  bottom: -5%;
  width: 100%;
}

#about {
  max-height: 35%;
  padding-left: 8px;
  padding-right: 8px;
  text-align: left;
  overflow: auto;
}

#diff {
  float: left;
  margin: 0;
  padding: 0;
  text-align: left;
  overflow: auto;
}

#game {
  float: left;
  padding-left: 8px;
  text-align: left;
  overflow: auto;
}

h1 {
  font-family: Muli;
  font-size: xx-large;
  text-align: center;
}

h2 {
  margin: 0;
  font-size: x-large;
}

h2 a {
  text-decoration: none;
  color: #dedede;
}

h2 a:hover {
  color: #ffffff;
}

h3 {
  margin-bottom: 5px;
  text-align: left;
  text-decoration: none;
  font-size: large;
}

h4 {
  margin-bottom: 0;
  text-align: left;
  text-decoration: none;
  font-size: 14px;
}

p {
  margin: 0 0 !important;
  float: none !important;
  font-size: small;
}

li a {
  color: #dedede;
  text-decoration: none;
}

li a:hover {
  color: #ffffff;
}

button {
  display: block;
  border-style: none;
  margin-top: 2%
  margin-bottom: 2%;
  background-color: #212121;
  color: #dedede;
  font-size: large;
}

button:hover {
  color: #ffffff;
}

.userInput {
  border-style: none;
  border-radius: 4px;
  padding-left: 8px;
  padding-right: 8px;
  background-color: #323232;
  color: #dedede;
}

ul.centerUL.diff {
  padding-left: 0;
}

.centerUL li {
  display: inline;
  text-align: center;
  font-size: 14px;
}

.centerUL.diff li {
  padding: 8px;
}

ul.centerUL.footer {
  margin-bottom: 5%;
  padding-left: 0;
}

.centerUL.footer li {
  font-size: x-small;
}

.centerUL.footer li a {
  padding: 8px;
}